/* ######################################## GENERAL ##################################### */
* { 
	font-family: 'Helvetica-Neue', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
	font-size: 14px;
}

body {
	margin: 0;
}

img, div{
	line-height: 0;
}

.image-fit{
	
  width: 100%;
  
}

p{
	font-size: 1rem;
}

h1, h2, h3, h4{
	margin-top:0;
}

h1{
	font-size: 3rem;
}

h2{
	font-size: 2rem;
}

h3{
	font-size: 1.5rem;
}

.sub-desc{
	font-size: 12px;
    font-weight: normal;
    margin: 4px 0 0;
}

ol{
	padding-inline-start: 1.1rem;
}

.button-primary{
	background:white;
	display: inline-block;
    padding: 0.5rem 1rem;
    border: solid black 2px;
	margin: 0.5rem;
	margin-left:0;
	transition:color 0.3s;
	transition:background-color 0.3s;
	color:black;
	text-decoration:none;
}

.button-primary:hover{
	background:black;
	border: solid black 2px;
	color:white;
}

.button-secondary{
	text-decoration:none;
	color:#888888
}

.button-secondary:hover{
	text-decoration:underline;
	color:black;
}

hr{
	margin-top:1rem;
	margin-bottom:1rem;
}

/* ######################################## HEADER ##################################### */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 43px;

	background-color: #ECECEC;
	border-top: solid 5px #848484;
	border-bottom: dotted #afafaf 1px;
	width: 100%;

	z-index: 200;
}

header nav {
	height: 100%;
	max-width:60rem;
	margin: auto auto;
}

header .hdr_main_nav {
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 43px;
}

header .hdr_user_nav {
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 43px;
}

header .hdr_logo {
	display: inline-block;
}

header .hdr_content {
	width: calc(100%-1rem);
	margin: 0 .5rem;
	height: 100%;
}

header .hdr_content ul:last-of-type {
	float: left;
}

header .hdr_content ul:last-of-type {
	float: right;
}

header .hdr_content ul li {
	display: inline-block;
	padding: .5rem;
}

/* Header Elements styling */
header .hdr_btn {
	color: #1DA0C3;
	text-decoration: none;
	padding: calc(1rem - 1px) .5rem 1rem .5rem;
}

header .hdr_btn:hover {
	color: #666666;
	background-color: #DEDEDE;
	border-top: solid 5px #666666;
}

/* ######################################## CONTENT ##################################### */
.background {
	position: relative;
	
	background-color: #F0F0F0;
	min-height: 10rem;
	width: 100%;
}

.content-box{
	
	border:#DEDEDE 1px solid;
	border-radius: .3rem;
	padding:1rem;
	margin:1rem;
}

.content{

	background-color: #F0F0F0;
	margin:0 1rem;
	padding-top: 4rem;
	padding-bottom:1rem;
	width: 100%;
}


/* ######################################## PRODUCT CONTENT ##################################### */

.product-content {

	display:grid;
	grid-template-areas: 
		"albumart"
		"tracklist"
		"albumdesc"
		"albumpurchase"
		"albumlist"
		"supporters";
	grid-auto-rows: auto;
	grid-template-columns: 1fr;

}

.album-art{
	grid-area: albumart;
}
.album-desc{
	grid-area: albumdesc;
}

.album-desc h2{
	margin-bottom:0;
}

.track-list{
	grid-area: tracklist;
}

.track-list ol{
	margin-top:0.5rem;
	margin-bottom: 0.5rem;
}

.track-list h2{
	margin-bottom:0;
}
.track-list .artists-name{
	margin-top:0;
}

.track-list .tracklist-title{
	margin-top:0;
	margin-bottom:0;
}

.track-list .broke-list{
	display: inline-block;
	width: 45%;
	margin-top:0;
}
.track-list .broke-list:last-of-type{
	display: inline-block;
	width: 45%;
	margin-left:1rem;
	vertical-align:top;
}

.album-music-controls.tracksoutside{
	display: table;
    margin-left: auto;
    margin-right: auto;
}

.album-music-controls.tracksoutside img{
	width:2rem;
}

.now-playing{
	text-align: center;
	margin-top:0.3rem;
}

.album-purchase{
	grid-area: albumpurchase;
}


.album-list{
	grid-area: albumlist;
}

.album-suggestion-grid{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	gap: 0.5rem;
}
.album-suggestion-grid > img{
	width:100%;
}

.supporters{
	grid-area: supporters;
}

.supporters-grid{
	display:grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto;
	gap: 0.5rem;
}

.supporters-grid > img{
	width:100%;
}

.purchase-box h4{
	margin-bottom:0;
}

/* ######################################## ALBUM OVERLAY CONTENT ##################################### */

.overlay-container{
	width:100%;
	position:relative;
}

.overlay-background{
	opacity:0;
	background-color: black;
	width:100%;
	height:100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	transition: opacity 0.3s;
}


.overlay-content{
	opacity:0;
	color: white;
	width:100%;
	height:100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transition: opacity 0.3s;

	padding: 1rem;
}

.overlay-content h2{
	margin-left:1rem;
	margin-top:1rem;
	margin-bottom:0;
}

.overlay-content h4{
	margin-left:1rem;
}

.overlay-content .album-music-controls{
	position:absolute;
	top: 40%;
	left: 50%;
	width:100%;
	text-align:center;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.album-music-controls img{
    display: inline;
	vertical-align: middle;
	cursor: pointer;
}

.skip-next, .skip-prev{
	width:4rem;
}

.overlay-content .track-title{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.overlay-content .button-container{
	position:absolute;
	top: 77%;
	left: 50%;
	width:60%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.overlay-content .button-container .album-card-button{
	color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 0.5rem 1rem;
    border: solid white 2px;
    margin: 0.5rem;
    margin-left: auto;
	margin-right: auto;
	transition:color 0.3s;
	transition:background-color 0.3s;
}

.overlay-content .favorite{
	width: 16%;
    display: block;
    margin-left: auto;
	margin-right: auto;
}

.overlay-content .favorite:hover{
	cursor:pointer;
	opacity:0.75;
}

.move-icon{
	position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    padding: 1rem;
	opacity: 0;
	cursor: move;
}

.content-box > .move-icon{
	top:0;
	right:0
}

.content-box:hover .move-icon{
	opacity:0.4;
}

.overlay-content .button-container .album-card-button:hover{
	background-color:white;
	color:black;
	transition:color 0.3s;
	transition:background-color 0.3s;
}

.overlay-content {
	opacity:1;
	transition: opacity 0.3s;
}
.overlay-background{
	opacity:0.5;
	transition: opacity 0.3s;
}


/* ######################################## FEED CONTENT ##################################### */

.feed-content {
	display:grid;
	grid-template-areas: 
		"mainfeed releasefeed";
	grid-auto-rows: auto;
	grid-template-columns: 2fr 1fr;
}

/* ######################################## FOOTER ##################################### */
footer {
	position: relative;
	height: 2.5rem;
    display: block;
    width: 100%;

	background-color: #848484;
    color: white;

    z-index: 200;
}

footer .ftr_content {
	width: calc(100%-1rem);
	margin: auto 1rem;
	max-width:60rem;
}

footer .ftr_logo {
	display: inline-block;
	padding: .5rem;
	padding-left: 0;
}

footer ul {
	float: right;
	list-style-type: none;
	/* padding: 0; */
	white-space: nowrap;
	padding: 0;
	margin: 0;
	margin-left: .5rem;
}

footer ul li {
	display: inline-block;
	padding: .5rem;
}

/* ##################################### MEDIA QUERIES ##################################### */

@media (min-width: 62.5em){
	/* Content width breakpoint: go from (100%-1rem) to (65%) */
	.content {
		width: 60rem;
		margin: 0 auto;
		border-left: solid 1px #848484;
		border-right: solid 1px #848484;
		padding-top: 4rem;
		padding-bottom:1rem;
		max-width:60rem;
	}

	.product-content {

		display:grid;
		grid-template-areas: 
			"albumart tracklist"
			"albumdesc tracklist"
			"albumlist supporters";
		grid-auto-rows: auto;
		grid-template-columns: 1fr 1fr;
	
	}
	.overlay-background{
		opacity:0;
	}
	.overlay-content{
		opacity:0;
	}

	.overlay-container:hover .overlay-content {
		opacity:1;
		transition: opacity 0.3s;
	}
	.overlay-container:hover .overlay-background{
		opacity:0.5;
		transition: opacity 0.3s;
	}

	footer .ftr_content {
		width: 65%;
		margin: 0 auto;
	}
	header .hdr_content {
		width: 65%;
		margin: 0 auto;
	}
}


/* ############################################################################################################# */
/* ##################################### ROBERTS ADDITIONS -> FEED CONTENT ##################################### */
/* ############################################################################################################# */
/* ######################## Feed: General  ###################*/
.feed-content > .content-box > h4 {
	border-bottom: 1px solid #D5DADB;
	margin-block-end: 1em;
}
.feed-content > .content-box > h4.feed-title {
	margin-block-end: 0;
}

.feed-tabs {
    margin-block-end: 1em;
}
.button-tab {
	display: inline-block;
    padding: 0.5rem 1rem;
    padding-bottom: calc(0.5rem - 2px);
    border-bottom: solid #D5DADB 3px;
	margin: 0rem;
	margin-top:.5rem;
	margin-left: -4px;
	transition:color 0.3s;
	transition:background-color 0.3s;
	color:#1DA0C3;
	text-decoration:none;
	font-weight: bold;
}
.button-tab:first-of-type {
	margin-left: 0;
}
.button-tab:not(.tab-selected):hover{
	padding-bottom: calc(0.5rem - 2px);
	border-bottom: solid #1DA0C3 3px;
}
.tab-selected {
	color: black;
	padding-bottom: calc(0.5rem - 2px);
	border-bottom: solid black 3px;
}

/* ######################### Feed: Main ######################*/
/* ------ TILES ------*/
.main-feed > #content-creators > .content-box,
.main-feed > #content-suggestions > .content-box,
.main-feed > #content-fan > .content-box,
.main-feed > #content-collection > .w_c-grid > .content-box,
.main-feed > #content-wishlist > .w_c-grid > .content-box {
	margin: 0;
	background-color: white;
	margin-bottom: 1rem;
}

.main-feed > #content-creators > .content-box:last-of-type,
.main-feed > #content-suggestions > .content-box:last-of-type,
.main-feed > #content-fan > .content-box:last-of-type,
.main-feed > #content-collection > .w_c-grid > .content-box:last-of-type,
.main-feed > #content-wishlist > .w_c-grid > .content-box:last-of-type {
	margin-bottom: 0;
}

/* ---- Album Art ----*/
.main-feed .album-art {
	border: none;
	margin: 0;
	padding: 0;
}

.hidden-button-container {
	display: none;
}

.main-feed .hidden-details {
	display: none;
}

.feed-grid .album-extras {
	display: none;
}

.main-feed .overlay-content h2,
.main-feed .overlay-content > a{
	color: white;
	text-decoration: none;
}
.main-feed .overlay-content h4{
	color: white;
	text-decoration: none;
}
.main-feed .overlay-content > a:hover{
	text-decoration: underline;
}

/* ---- Album Extras & Details ----*/
.main-feed .hidden-details h2, 
.main-feed .hidden-details h4,
.main-feed .hidden-details a {
	margin: 0;
	color: black;
	text-decoration: none;
}

.main-feed .hidden-details a:hover {
	text-decoration: underline;
}

.main-feed .hidden-details .track-title {
	margin: .5rem 0;
	margin-bottom: 1rem;
}

.album-extras h4 {
	font-weight: normal;
}

.hidden-tags {
	display: none;
}
.hidden-tags > p {
	margin-bottom: 0;
	margin-top: .5rem;
}

.feed-supporters-grid{
	display:grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: auto;
	gap: 0.5rem;
}

.feed-supporters-grid > img{
	width:100%;
}
/* Action Type */
.main-feed .hidden-action-type {
	display: none;
}
.main-feed .action-type img,
.main-feed .hidden-action-type img
 {
	width: 2rem;
	display: inline-block;
}
.main-feed .action-type h4,
.main-feed .hidden-action-type h4
 {
	font-weight: normal;
	display: inline-block;
	transform: translate(0,-.7rem);
	margin-bottom: .5rem;
}
.main-feed .hidden-action-type a,
.main-feed .action-type a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.main-feed .hidden-action-type a:hover,
.main-feed .action-type a:hover {
	text-decoration: underline;
}
.showmorebtn {
	cursor: pointer;
	width: 100%;
	text-align: center;
}
.showmorebtn:hover {
	text-decoration: underline;
}


@media (min-width: 62.5em){
	/* Content width breakpoint: go from (100%-1rem) to (65%) */
	/* Main Feed Album Art changes: */
	.main-feed .album-art{
		width: 100%;
	}
	.main-feed .album-art .button-container {
		display: none;
	}
	.feed-grid {
		display: grid;
		width: 100%;
		grid-template-columns: 50% 48%;
		grid-column-gap: 2%;
	}
	.feed-grid .album-art {
		grid-area: auto;
	}
	.feed-grid .album-extras {
		display: block
	}
	.main-feed .hidden-details {
		display: block;
	}
	.hidden-tags {
		display: block;
	}
	.main-feed .album-art .track-title {
		width: 80%;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	.overlay-content .album-music-controls {
		top: 50%;
	}
	.hidden-button-container .favorite{
		width: 8%;
	    display: inline-block;
	    transform: translate(0, 20%);
		filter: brightness(0);
		float: right;
	}
	.hidden-button-container .favorite:hover{
		cursor:pointer;
		filter: brightness(.5);
	}
	.hidden-button-container {
		display: block;
		margin-top: .5rem;
	}
	.main-feed .overlay-content h2{
		font-size: 1.5rem;
	}
	.main-feed .action-type {
		display: none;
	}
	.main-feed .hidden-action-type {
		display: block;
	}

	/* JS Classes */
	.js-playing .overlay-content {
		opacity:1;
		transition: opacity 0.3s;
	}
	.js-playing .overlay-background{
		opacity:0.5;
		transition: opacity 0.3s;
	}
}







/* ################ Feed: Releases (New and Notable)  ########*/
/* ----- GENERAL -----*/
.release-feed {
	height: fit-content;
	position: sticky;
	top: 5rem;
}

.release-feed > .grid-container {
	display: grid;
  	grid-template-columns: 1fr;
  	grid-template-rows: 1fr 1fr 1fr 1fr;
  	grid-row-gap: .8rem;
  	width: 100%;

}

/* ------ TILES ------*/
.release-feed .content-box {
	margin: 0;
	border: none;
	padding: 0;
}
.release-feed .album-art {
	cursor: default;
}
.release-feed .release-grid {
	display: grid;
	grid-template-columns: 55% 40%;
	grid-column-gap: 5%;
	height: fit-content;
	min-height: 8rem;
}

/* ----- METADATA -----*/
.release-feed-title, .release-feed-artist,
.release-feed-title > h5, .release-feed-artist >h5 {
	font-weight: normal;
	margin: 0;
	color: #505958;
	text-decoration: none;
}
.release-feed-title > h5 {
	font-weight: bold;
}
.release-feed-title:hover, .release-feed-artist:hover {
	text-decoration: underline;
	text-decoration-color: #505958;
}
.release-feed .metadata {
	position: relative;
}
.release-feed .new-favorite {
	width: 2rem;
	filter:brightness(0);
	position: absolute;
	bottom: 0;
	left: 50%;
}
.release-feed .new-shop {
	width: 2rem;
	position: absolute;
	bottom: 0;
}
.release-feed .new-favorite:hover {
	filter:brightness(.5);
	cursor: pointer;
}
.release-feed .new-shop:hover {
	filter:invert(.5);
	cursor: pointer;
}

/* ---- Album Overlays ----*/
.release-feed .overlay-content {
	padding: 0;
}
.release-feed .overlay-content .album-music-controls{
	top: 0;
	left: 0;
	transform: translate(0);
	display: block;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}
.release-feed .album-music-controls img{
	display: inline-block;
	transform: scale(2);
	position: static;
	width: 12%;
	padding: 0;
	margin: 5%;
	cursor: pointer;
}
.release-feed .album-music-controls img:nth-of-type(2) {
	width: 20%;
}

/* ################ Sources Used #################
- Learning CSS Grids: https://www.w3schools.com/css/css_grid.asp
- CSS Grids + Sticky positioning: https://codepen.io/stephanmax/pen/odyxWE
- Layout positioning tricks: https://www.w3schools.com/css/css_align.asp


*/






/* ############################################################################################################# */
/* ############################### ROBERTS ADDITIONS -> WISHLIST / COLLECTION CONTENT ########################## */
/* ############################################################################################################# */
.w_c-content .profile > * {
	float: left;
	margin: 0;
	margin-right: 1rem;
}
.w_c-content .profile::after {
	content: "";
	clear: both;
	display: table;
}
.profile .pic > img {
	max-width: 15rem;
}
.profile h2 {
	margin-bottom: 0;
}
.archive-seperator {
	width: 100%;
	border-bottom: 1px solid #D5DADB;
	margin-top: 2rem;
	font-size: 1.5rem;
	text-align: center;
}
.w_c-content .content-title {
	margin-top: 1rem;
	width: 100%;
	border-bottom: 1px solid #D5DADB;
	text-align: center;
}
.hide-tab {
	display: none;
}
.w_c-content .manipulate-list * {
	display: inline-block;
}
.archive-btn {
	float: right;
}
.archive-btn::after  {
	content: "";
	clear: both;
	display: table;
}
.manibulate-btn, .archive-btn > a {
	font-weight: bold;
	cursor: pointer;
	color: #505958;
	text-decoration: none;
}
.manibulate-btn:hover, .archive-btn > a:hover {
	text-decoration: underline;
}
.manipulate-list p {
	margin-left: .5rem;
}
span.date {
	text-decoration: underline;
}
.edit-form {
	transform: translate(-.08rem, .3rem);
}
.edit-form input:first-of-type {
	font-size: 2rem;
	width: auto;
}
.edit-form input:last-of-type {
	margin-top: .35rem;
}
.edit-form input {
	background-color: #DEDEDE;
	border:#DEDEDE 1px solid;
	border-radius: .3rem;
	font-weight: bold;
	min-width: 10rem;
	max-width: 20rem;
	padding: 0;
}
.hidden {
	display: none;
}
.w_c-content .button-tab {
	margin-top: 0;
	font-size: 1.5rem;
}
.w_c-content .hidden-button-container .button-primary {
	width: calc(100% - 2rem - 4px);
	text-align: center;
}
.w_c-content .hidden-button-container .favorite {
	width: 2.8rem;
	transform: translate(0);
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#archive {
	margin-top: -4rem;
	margin-bottom: 6rem;
}
@media (min-width: 62.5em){
	/* Content width breakpoint: go from (100%-1rem) to (65%) */
	.w_c-grid {
		display: grid;
		grid-template-columns: 32% 32% 32%;
		grid-column-gap: 2%;
		height: fit-content;
	}

	/* HARDCODED FIXES */
	.main-feed .overlay-content h2.makeMeSmall {
		font-size: 1.4rem;
	}
}

/* HARDCODED FIXES */
.pushMeDown {
	margin-top: 4rem;
}






/* ############################################################################################################# */
/* ########################################## ROBERTS ADDITIONS -> GENERAL ##################################### */
/* ############################################################################################################# */

.searchbar {
	color: #505958;
}
.searchbar:focus::-webkit-input-placeholder {
    color: transparent;
}
.searchbar-icon {
	width: 1rem;
	margin-left: -1.5rem;
	margin-bottom: -.2rem;
	cursor: text;
	color: #505958;
}